.footer {
  display: flex;
  justify-content: flex-start;
  height: 80px;
  .footer-brand-container {
    width: 300px;
    height: auto;
    overflow: hidden;
    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }
}
